<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Antx</title>
    <meta name="application-name" content="Antx">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="https://image.antx.cc/logo/antxcloud/favicon.ico" type="image/gif">
    <link href="https://cdn.antx.cc/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.antx.cc/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <script src="https://cdn.antx.cc/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.antx.cc/libs/vue/3.0.5/vue.global.js"></script>
    <script src="https://cdn.antx.cc/libs/antx/antx.utils.min.js"></script>
    <script src="https://cdn.antx.cc/libs/antx/antx.collina.min.js"></script>
    <script src="https://cdn.antx.cc/libs/antx/antx.prompt.min.js"></script>
    <script src="https://cdn.antx.cc/libs/antx/antx.captcha.min.js"></script>
    <script src="https://cdn.antx.cc/libs/jquery-url/1.0/jquery.url.js"></script>
    <script src="https://cdn.antx.cc/libs/jquery-growl/1.3.5/js/jquery.growl.js"></script>
    <script src="https://cdn.antx.cc/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.antx.cc/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://g.alicdn.com/sd/ncpc/nc.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
<div id="app">
    <header></header>
    <main class="mt-5">
        <h1 class="text-center display-3" id="time" v-html="cornetTime"></h1>
        <form class="container" action="/search" id="search-form" name="search-form" method="get">
            <div class="container">
                <label class="form-label" for="query"></label>
                <input class="form-control border rounded-pill"
                       type="text" id="query" placeholder=""
                       name="query" value="" @keyup="inputQuery"/>
                <div class="container list-group" id="keyword-list">
                </div>
            </div>
        </form>
    </main>
    <footer></footer>
</div>
</body>
<script src="/static/js/vue.js"></script>
</html>